<p>第何回更新</p>

<p>メッセージ</p>

<p>スキル習得やJOBチェンジ等</p>

<p>料理、鍛冶</p>

<p>装備変更</p>

<p>ステータス表示１</p>
	<%= render 'layouts/status' %>
<p>対人戦</p>

<p>ボス戦</p>

<p>アイテム受け渡し等</p>

<p>通常戦</p>

<p>ステータス表示２</p>

<p>トップページへ戻る</p>