<!-- 左側ナビ -->
	<nav id="sidemenu">
		<h1> ヘルプ </h1>
                <div id="world">
                         <h3> このゲームについて </h3>
                         <ul>
                                 <li><a href="#about_co">COLORS OVERFLOWとは</a></li>
                                 <li><a href="#caution">注意事項</a></li>
                                 <li><a href="#story">ストーリー</a></li>
                         </ul>
                </div><!-- /#world -->
				<div id="rule">
                         <h3> ルール </h3>
                         <ul>
                                 <li><a href="#status">ステータス</a></li>
                                 <li><a href="#colors">属性</a></li>
                                 <li><a href="#skill">スキル</a></li>
                                 <li><a href="#party">パーティ</a></li>
                                 <li><a href="#about_pk">人斬り</a></li>
                                 <li><a href="#item">アイテム</a></li>
                         </ul>
                </div><!-- /#rule -->
        <h3><%= link_to "トップページに戻る", index_path %></h3>
	</nav>
<!-- ナビここまで -->

<!-- 右側ルール -->
	<section id="rule">
		<article id="about_co">
			<h2>COLORS OVERFLOWとは</h2>
			一週間毎にゲーム結果の更新を繰り返す、<br>
			定期更新型ブラウザゲームです。<br>
			<br>
			プレイヤーは自分のオリジナルキャラクターを登録し、<br>
			毎週定時に更新されるゲーム結果を確認して<br>
			来週の行動を宣言する…という事を繰り返して遊びます。<br>
			<br>
			ざっくりとゲームの流れを説明すると、<br>
			<br>
			1. 土曜17時までの間にキャラクターを新規登録<br>
			↓<br>
			2. 日曜9時にキャラクターの登録完了<br>
			↓<br>
			3. 土曜17時までにキャラクターの行動を宣言<br>
			↓<br>
			4. 日曜9時にキャラクターの行動結果が反映<br>
			<br>
			以下、 3と 4を繰り返します。<br>
		</article><!-- /#about_co -->
		<article id="caution">
			<h2>注意事項</h2>
			<ol>
				<li>・　登録は１プレイヤーにつき１キャラクターまで</li>
					<p>	　　１人で複数のキャラクターの登録は禁止します。</p>

				<li>・　オリジナルキャラクターの登録をお願いします</li>
					<p>	　　版権キャラクターの登録や、そういった事が疑われる画像の使用はおやめください。</p>

				<li>・　COLORS OVERFLOW はテストプレイ中です</li>
					<p>	　　まだまだ開発途中の為、予期せぬバグが至る所に潜んでいます。<br>
						　　見つけ次第、不具合報告板にご報告ください。<br>
						　　よろしくお願い致します。</p>

				<li>・　ゲーム内のトラブルは自己責任でお願いします</li>
					<p>	　　ゲーム内で発生したトラブル等についてはGMは一切責任を持ちません。</p>

				<li>・　パスワード管理について</li>
					<p>	　　パスワード類は忘れないよう各自管理してください。</p>
			</ol>
		</article><!-- /#caution -->
		<article id="story">
			<h3>ストーリー</h3>
			<p>
			ある日突然、その世界は色を失った。<br>
			<br>
			人も街も———何もかもが色を失くし、人々の目にはただ輪郭が解るだけだった。<br>
			<br>
			無色の世界は無情にも、味覚や感覚——あらゆるものを人間から奪ってしまった。<br>
			食べ物の味も、炎の暖かさも、雪の静けさも、人々は解らなくなった。<br>
			<br>
			ただ、無気力にこの命が尽きるのを待つだけとなった世界に、<br>
			———ひとすじの光が溢れた。<br>
			<br>
			その光は色を持つ者をこの世界に導いた。<br>
			<br>
			世界は、人々は表情を変え、貴方を迎える…。<br>
			</p>
		</article><!-- /#story -->
		<article id="status">
			<h2>ステータス</h2>
			<h4>各キャラクターの強さは下記の項目から成り立ちます。</h4>
			<ul>
				<li>STR (STRENGTH) </li>　武器攻撃の強さと打たれ強さを表します。<br>

				<li>MGC (MAGIC) </li>　魔法攻撃の強さと打たれ強さを表します。<br>

				<li>VIT (VITALITY) </li>　この値が高い程、受けるダメージが軽減されます。<br>

				<li>SNS (SENSE) </li>　特殊攻撃の威力やクリティカル等に影響します。<br>

			</ul>
		</article>
		<article id="colors">
			<h3>属性</h3>
			<h4>各キャラクターの属性は大きく８種類に分かれています。</h4>
			<ul>
				<li>白：　黒にとても強いが、全ての色にすこし弱い</li>
				<li>黒：　白にとても弱いが、全ての色にすこし強い</li>
				<li>赤：　緑と相反</li>
				<li>青：　橙と相反</li>
				<li>黄：　桃と相反</li>
				<li>緑：　赤と相反</li>	
				<li>橙：　青と相反</li>
				<li>桃：　黄と相反</li>
			</ul>
			<p>	例：　赤属性の敵に緑属性の攻撃をすると、ダメージが大きくなる。<br>
				　　　反対に、自分が緑属性で赤属性の攻撃を受けると、受けるダメージが大きくなる。<br>
			</p>
		</article>
		<article id="skill">
			<h3>スキル</h3>
			<h4>①色使用でスキル<br>
				②スキルはジョブで決まって、色使用で効果追加<br>
				③その他…考える！</h4>
		</article>
		<article id="party">
			<h3>パーティ</h3>
			<h4>他のキャラクターと最大５人パーティを組む事ができます。<br>
				パーティの合流・離脱は継続宣言内で行い、<br>
				離脱に関しては各キャラクター毎に宣言する事で離脱できますが、<br>
				合流については呼ぶ側と呼ばれる側双方の宣言が必要です。<br>
			</h4>
		</article>
		<article id="about_pk">
			<h3>人斬り</h3>
			<h4>プレイヤーキル (PK)について</h4>
			<p>
				COLORS OVERFLOW のゲーム内では、道中の他プレイヤーを攻撃 (PK) する事ができます。<br>
				他プレイヤーを攻撃した場合、その攻撃度合いによってカルマが溜まります。<br>
				また、攻撃されたプレイヤーと攻撃したプレイヤーとで別途戦闘が発生します。<br>
				戦闘に勝利した側は、相手側の金銭及び装備品等を入手できる場合があります。<br>
				カルマは高ければ高い程、自分よりも高レベルの相手を攻撃できるようになります。<br>
			</p>
		</article>
		<article id="item">
			<h3>アイテム</h3>
			<h4>アイテムの種類等</h4>
		</article>
	</section>