<head>
   <meta charset="UTF-8">
   <meta http-equiv="content-style-type" content="text/css">
   <meta http-equiv="content-script-type" content="text/javascript">
   <meta name="description" content="">
   <meta name="author" content="">
   <meta name="keywords" content="COLORS OVERFLOW">
<!-- ↓スタイルシートとかスクリプトはここ↓ -->
   <title> COLORS OVERFLOW</title>
</head>
<body>
<!-- ↓ヘッダーここから↓ -->

<div id="top">
	<header>
		<h1> COLORS OVERFLOW </h1>
		<h2> Information </h2>
		<p>COLORS OVERFLOWは現在製作途中の定期更新ブラウザゲームです。<br>
		ゲーム開始時期は未定ですが、現在テストプレイ中です。</p>

	</header>
<!-- ヘッダーここまで -->

<!-- ↓メニューここから↓ -->
	<section>
		<h2> Menu </h2>
		<p>
			<ul>
				<li><a href="help/help.html">ヘルプ</a></li>
				<li>新規登録</li>
				<li>結果検索</li>
				<li>キャラクター一覧</li>
				<li>マップ</li>
				<li>結果ダウンロード</li>
				<li>掲示板</li>
				<li>リンク</li>
			</ul>
		</p>
	</section>
<!-- メニューここまで -->

<!-- ↓フッターここから↓ -->
	<footer>
		<h2> Update </h2>
		<p> 150802　サイトページ作成 </p>
		<p> 150922　サイトページ公開 </p>
	</footer>
<!-- メニューここまで -->
</div><!-- /#top -->
</body>
</html>

<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
