<<<<<<< HEAD
.start_pages {
	div#top {
		width: 750px;
		margin: 0 auto;
	}

	h2 {
		border: 2px solid #000000;
	}
}
=======
// Place all the styles related to the start_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
>>>>>>> New_Model
